<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>About Us</h1>
      <p><a href="https://coderdojo.com/">CoderDojo</a> is an international organization that organizes computer programming clubs for kids.  The Lancaster CoderDojo is run by local professional computer programmers.</p>
    </div>
  </div>
</div>
