<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>About Us</h1>
      <p class="lead"><a href="https://coderdojo.com/">CoderDojo</a> is a global network of free, volunteer-led, independent, community based programming clubs for young people. These young people, between 7 and 17, learn how to code, develop websites, apps, programs, games and explore technology in an informal and creative environment. In addition to learning to code attendees meet like minded people and get to show off what they’ve been working on.</p>

      <p class="lead">There is a focus on community, peer learning, youth mentoring and self led learning with an emphasis on openness, helping others and showing how coding is a force for change in the world. CoderDojo makes development and learning to code a fun, sociable experience.</p>
    </div>
  </div>
</div>
