<div class="container">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-lg-6">
        <h1>Lancaster<br/>CoderDojo</h1>
        <h3>A free computer club for kids in the Lancaster, PA area</h3>
      </div>
      <div class="col-lg-6"><%= image_tag 'kids.jpg' %></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>We have three local CoderDojo groups &mdash; you're welcome to come to both!</h3>
      <ul class="lead">
        <li>Our <strong><a href="http://www.mtpl.info/">Manheim Township Public Library</a></strong> group meets on the second Tuesday of each month (except in July and December -- we take a break those months) from 6:30pm to 8pm.  To sign up, find the next upcoming meeting on the <a href="https://mtpl.info/events/">library calendar</a>, click on it, and follow the instructions shown.  Registration opens a few weeks before each event, so if you aren't able to sign up, try again a bit later.
        <li>Our <strong><a href="http://www.lancaster.lib.pa.us">Lancaster Public Library</a></strong> group meets on the fourth Thursday of each month from 6:30pm to 7:30pm.  <a href="http://www.eventbrite.com/e/coderdojo-free-tickets-14706442365">Click here</a> to sign up!</li>
        <li>Our <strong><a href="https://quarryvillelibrary.org/">Quarryville Public Library</a></strong> group meets on the second Thursday of each month from 6:00pm to 7:00pm.  <a href="https://quarryvillelibrary.org/event/quarryville-coder-dojo">Click here</a> to sign up!</li>
      </ul>
    </div>
  </div>
</div>
