<div class="container">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-lg-6">
        <h1>Lancaster<br/>CoderDojo</h1>
        <h3>A free computer club for kids in the Lancaster, PA area</h3>
      </div>
      <div class="col-lg-6"><%= image_tag 'kids.jpg' %></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>We meet on the fourth Thursday of each month at the Lancaster Public Library.  <a href="http://www.eventbrite.com/e/coderdojo-free-tickets-14706442365">Click here</a> to sign up!</h3>
    </div>
  </div>
</div>
