<div class="container">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-lg-6">
        <h1>Lancaster<br/>CoderDojo</h1>
        <h3>A free computer club for kids in the Lancaster, PA area</h3>
      </div>
      <div class="col-lg-6"><%= image_tag 'kids.jpg' %></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>We have two local CoderDojo groups &mdash; you're welcome to come to both!</h3>
      <ul class="lead">
        <li>Our <a href="http://www.mtpl.info/">Manheim Township Public Library</a> group meets on the second Tuesday of each month from 6:30pm to 7:30pm.  <a href="http://www.mtpl.info/library-events/lancaster-coder-dojo-mt-session">Click here</a> to signup!</li>
        <li>Our <a href="http://www.lancaster.lib.params.us/">Lancaster Public Library</a> group meets on the fourth Thursday of each month from 6:30pm to 7:30pm.  <a href="http://www.eventbrite.com/e/coderdojo-free-tickets-14706442365">Click here</a> to sign up!</li>
      </ul>
    </div>
  </div>
</div>
