<div class="container">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-lg-6">
        <h1>Lancaster<br/>CoderDojo</h1>
        <h3>A free computer club for kids in the Lancaster, PA area</h3>
      </div>
      <div class="col-lg-6"><%= image_tag 'kids.jpg' %></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>We have two local CoderDojo groups &mdash; you're welcome to come to both!</h3>
      <ul class="lead">
        <li>Our <storng><a href="http://www.mtpl.info/">Manheim Township Public Library</a></strong> group meets on the second Tuesday of each month.
          <ul>
            <li>Our Junior CoderDojo meeting for kids ages 7-12 is from 6:30pm to 7:15pm
            <li>Our Teen CoderDojo meeting for kids ages 13-17 is from 7:15pm to 8:00pm
          </ul>
          To sign up, find the next upcoming meeting on the <a href="http://www.mtpl.info/calendar">library calendar</a>, click on it, and follow the instructions shown.  Registration opens a few weeks before each event, so if you aren't able to sign up, try again a bit later.
        <li>Our <strong><a href="http://www.lancaster.lib.params.us/">Lancaster Public Library</a></strong> group meets on the fourth Thursday of each month from 6:30pm to 7:30pm.  <a href="http://www.eventbrite.com/e/coderdojo-free-tickets-14706442365">Click here</a> to sign up!</li>
      </ul>
    </div>
  </div>
</div>
