<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Lessons</h1>

      <ul class="lead">
        <li>Find a site below that looks fun, and try it out.  If you don't like it, try another one!
        <li>If you need help, just ask someone.  If someone asks <i>you</i> for help, try to help them!
        <li>If you need to sign up for a site with a username and password, let an adult know.
        <li>And above all &mdash; have fun!
      </ul>
      <% @lessons.each do |lesson| %>
        <h2><%= lesson[:title] %></h2>
        <ul class="lessons list-inline">
        <% lesson[:sites].each do |site| %>
          <li class="text-center lead"><a href="<%= site[:url] %>"><%= image_tag site[:image], width: 220 %><br/><%= site[:name] %></a></li>
        <% end %>
        </ul>
      <% end %>

      <a href="http://scratch.mit.edu/projects/53802142/">Scratchmaster Ken's First Scratch Example</a>
    </div>
  </div>
</div>
