<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Lessons</h1>

      <% @lessons.each do |lesson| %>
        <h2><%= lesson[:title] %></h2>
        <ul class="lessons list-inline">
        <% lesson[:sites].each do |site| %>
          <li class="text-center lead"><a href="<%= site[:url] %>"><%= image_tag site[:image] %><br/><%= site[:name] %></a></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
