<style>
.plane-div {
  float: left;
  padding: 50px;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Paper Airplanes</h1>

      <div class="plane-div">
        <a href="https://www.youtube.com/watch?v=GdZiesdZXbA"><%= image_tag 'plane1.png', { width: 300, border: 0 } %></a>
      </div>
      <div class="plane-div">
        <a href="https://www.youtube.com/watch?v=d2agrDvmtW8"><%= image_tag 'plane2.png', { width: 300, border: 0 } %></a>
      </div>
      <div class="plane-div">
        <a href="https://www.youtube.com/watch?v=a265vozzR9I"><%= image_tag 'plane3.png', { width: 300, border: 0 } %></a>
      </div>
      <div class="plane-div">
        <a href="https://www.youtube.com/watch?v=hWhVjL7Lmco"><%= image_tag 'plane4.png', { width: 300, border: 0 } %></a>
      </div>
    </div>
  </div>
</div>
